blis
boto3
botocore
catalogue
certifi
chardet
Click
cycler
cymem
docutils
filelock
idna
importlib-metadata
jmespath
joblib
kiwisolver
matplotlib
murmurhash
numpy
pandas
plac
preshed
pyparsing
python-dateutil
pytz
regex
requests
s3transfer
sacremoses
scikit-learn
scipy
sentencepiece
six
spacy
srsly
thinc
tokenizers
torch
tqdm
transformers
urllib3
wasabi
zipp
